<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center" style="font-size: 60px;">Change Detection</h1>

    <form action="predict" method="post" enctype="multipart/form-data" align="center">
        <label for="image1" style="text-align: center; font-size: 30px; font-weight: bold; margin: 5px;" >Image 1:</label>
        <input type="file" name="image1" id="image1"  required style="font-size: 25px; padding: 5px;"><br><br>

        <label for="image2"  style="text-align: center; font-size: 30px; font-weight: bold; margin: 5px;" >Image 2:</label>
        <input type="file" name="image2" id="image2"  required style="font-size: 25px; padding: 5px;"><br>

        <input type="submit" value="Submit" style="text-align: center;font-size: 25px; padding: 5px;margin: 15px;border-radius: 5px;">
    </form>
</body>
</html>